<html layout:decorate="~{layout}">
      <!--todo list 시작-->
      <div class="container" layout:fragment="content">

        <div class="row">
          <div class="col"><!--여백--></div>
          <div class="col-8"><div class="text-center"><h1>Daily To Do List</h1></div></div>
          <div class="col"><!--여백--></div>
        </div>

        <div class="row">
            <div class="col"><!--여백--></div>
            <div class="col-8"><div class="text-center"><h3>오늘은 <span th:text="${today}">월요일</span>입니다</h3></div></div>
            <div class="col"><!--여백--></div>
        </div>

        <!--입력란-->
        <div class="row">
            <div class="col"><!--여백--></div>
            <div class="col-8">
                <form th:action="@{/home/lists}" th:object="${todoForm}" method="post">

                    <div class="row container">
                        <div class="col-7">
                            <input type="text" th:field="*{content}" class="form-control" placeholder="내용 입력"/>
                            <div class="error" th:errors="*{content}"></div>

                        </div>

                        <div class="col-2">
                            <select th:field="*{week}" class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option th:each="week : ${weeks}" th:value="${week}" th:text="${week}"></option>
                            </select>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary">SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"><!--여백--></div>
        </div>

        <div class="row" >
            <div class="col"><!--여백--></div>
            <div class="col-8 listBox">
                <ul th:each="list:${lists}">
                    <li name="list">
                        <p></p>
                        <div class="row">
                            <div class="col-9" th:text="${list.content}">감사 일기 쓰기</div>
                            <div class="col">
                                <button id="modifyBtn" name="modifyBtn" class="btn btn-outline-secondary"
                                style="margin-left: 20px">수정</button>
                            </div>
                            <div class="col">
                                <form th:action="@{|/home/lists/${list.id}|}" th:method="delete">
                                    <button class="btn btn-outline-secondary">삭제</button>
                                </form>
                            </div>
                        </div>
                        <div id="display" class="row container">
                            <form th:action="@{|/home/lists/${list.id}|}" th:method="put">
                                    <input style="width:auto;" name="modifyContent"/>
                                    <select name="modifyWeek" id="">
                                        <option th:each="week : ${weeks}" th:value="${week}"th:text="${week}">월요일</option>
                                    </select>
                                    <button class="btn btn-outline-secondary col-1">수정</button>
                            </form>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col"><!--여백--></div>   
        </div>

          <script>


        $("li>.row>.col>#modifyBtn").click(function(){
            var index=$("li>.row>.col>#modifyBtn").index(this);

            $('li>#display').eq(index).css('display','block')
        });

    </script>

    </div>



</html>